footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") C language
                li: a(href="#") C++ Language
                li: a(href="#") Java
                li: a(href="#") HTML
                li: a(href="#") CSS
                li: a(href="#") C#
                li: a(href="#") MySQL

        div

            ul

                li: a(href="#") Amazon Web Services
                li: a(href="#") AWS S3
                li: a(href="#") AWS EC2
                li: a(href="#") AWS Aurora
                li: a(href="#") AWS DynamoDB
                li: a(href="#") AWS Lambda
                li: a(href="#") AWS VPC

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Nitish Sharma

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") Adarsh Nagar

                    tr
                        td
                        td(class="locality") Modinagar, Ghaziabad

                    tr
                        td
                        td(class="postal-code") 201204

                    tr
                        td
                        td(class="country-name") India

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:00-00-000-0000") (+91) 74560-31322

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-location")
                        td: a(href="#") 28.828922399999996S 77.56961009999999E

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Follow us on Twitter")

                            use(href="https://twitter.com/initishsharmaa")

                li

                    a(href="#")

                        svg(role="img" title="Like us on Facebook")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-facebook")

                li

                    a(href="#")

                        svg(role="img" title="See our posts on Google Plus")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-google+")

                li

                    a(href="#")

                        svg(role="img" title="View our pins on Pinterest")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-pinterest")

                li

                    a(href="#")

                        svg(role="img" title="Connect with us on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
