section(class="canvas section-2" id="section-2")

    h2 Section 2

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 CYBER GROUP INC.
                p.
                    This is the company in which i am currently working in as a Intern, 
                    Started my career life in April 2021.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 B.TECH
                p.
                    I did my Btech from SRM INSTITUTE OF SCIENCE AND TECHNOLOGY IN YEAR 2017-2021.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 12th CLASS
                p.
                    I did my 12th class from DR. K..N. MODI GLOBAL SCHOOL IN YEAR 2016-2017

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 10th CLASS
                p.
                     I did my 10th class from SHATABDI PUBLIC SCHOOL IN YEAR 2014-2015

    +nav-1({ target: "section-3", direction: "next" })
