section(class="canvas section-1" id="section-1")

    h2 About 

    div(class="content")

        div

            img(src="images/home/section-1/profile.png" width='200' inline)

            article

                h2 -About Me

                p.
                        I love to work in an organization where I can utilize my current skills and improve it in due
                        course of time to achieve an organizational goal and where there is scope for
                        individual growth as well. 

    +nav-1({ target: "section-2", direction: "next" })
