section(class="canvas section-3" id="section-3")

    h2 Section 3

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 C Language
                p.
                    C is a general‑purpose programming language that is extremely popular, simple,
                     and flexible to use. It is a structured programming language that is machine‑independent
                      and extensively used to write various applications, Operating Systems like Windows, 
                      and many other complex programs like Oracle database, Git, Python interpreter

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 C++
                p.
                    C++ is a cross-platform language that can be used to create high-performance applications. 
                    C++ was developed by Bjarne Stroustrup, as an extension to the C language. 
                    C++ gives programmers a high level of control over system resources and memory.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 HTML 
                p.
                    HTML stands for Hyper Text Markup Language. 
                    HTML is the standard markup language for creating Web pages. HTML describes the structure of a Web page. 
                    HTML consists of a series of elements. HTML elements tell the browser how to display the content.


        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 CSS
                p.
                    CSS stands for Cascading Style Sheets. CSS describes how HTML elements are to be displayed on screen, 
                    paper, or in other media. CSS saves a lot of work. It can control the layout of multiple web pages all at once. 
                    External stylesheets are stored in CSS files.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Amazon Web Services
                p.
                    Amazon Web Services offers reliable, scalable, and inexpensive cloud computing services. 
                    Free to join, pay only for what you use.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Machine Learning
                p.
                    Machine learning (ML) is the study of computer algorithms that improve automatically through experience and by the use of data. 
                    It is seen as a part of artificial intelligence.

    +nav-1({ target: "front", direction: "prev" })
